*{
  margin : 0;
padding : 0;
box-sizing : border-box;
color: gold;
}
body {
  background-color: #e3e3e3a0;
margin-top : 0;
margin-left : 0;
padding : 0%;
color : rgb(5, 168, 232);
overflow-x : hidden;
width : 100vw;
}
#logo {
float : left;
max-width : 130px;
min-height : 70px;
border-radius : 5px;
}
.header {
position : fixed;
padding : 0;
margin : 0;
font-family : monospace;
font-weight : bolder;
font-size : 15px;
top : 0;
left : 0;
width : 100%;
height : 70px;
list-style-type : none;
background-color : rgb(136, 10, 10, 0.558);
overflow: hidden;
text-align: center;
z-index: 10;
}
.header-li {
float : right;
}
.header-li a {
display : block;
margin-left: 5px;
margin-right: 5px;
/* color : white; */
height: 70px;
text-align : center;
padding-top : 25px;
padding-left : 5px;
padding-right : 5px;
padding-bottom : 30px;
font-family:sans-serif;
text-decoration : none;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.541);
}
.header-li a:hover {
background-color : gold;
color: white;
border-radius : 12px;
}
#materials:hover {
padding-left : 0;
padding-right : 0;
}
#about:hover {
padding-left : 3px;
padding-right : 3px;
}
#header-2-li {
  float : left;
  box-shadow: none;
}


.header-2 {
position : fixed;
padding : 0%;
margin : 0%;
font-family : sans-serif;
font-weight : bolder;
font-size : 15px;
top : 71.2px;
left : 0;
width : 100%;
height : auto;
margin : 0;
list-style-type : none;
background-color : rgb(13, 17, 137, 0.558);
color : #bcbaba;
overflow : hidden;
z-index: 10;
}
.header-2 a {
  display: block;
  margin-left: 5px;
margin-right: 3%;
  /* color: #ffffff; */
  text-align: center;
  padding-top: 25px;
  padding-left: 5px;
  height: 77px;
  padding-right: 5px;
  padding-bottom: 25px;
  text-decoration: solid;
  margin-top: 1px;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.541);
}
.content {
margin-top : 10%;
overflow-x : hidden;
width : 100vw;
align-content : center;
}

@media (max-width:500px){
    .h1 {
    font-family : 'Courier New', Courier, monospace;
    margin-top : 20.4px;
    text-align : center;
    background: black;
    width : 100vw;
  }
  .banner{
    margin-top:0px;
    width: 100vw;
    height: 20vh;
    color: gold;
    background: linear-gradient(rgb(255, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(./images/logo.png);
    font-family: "Raleway", Sans-serif;
    font-weight: bold;
    font-size: 20px;
    text-transform: uppercase;
    padding-top: 40%;
    text-align: center;
    letter-spacing: 1px;
  }
}
@media (min-width:501px) {
  
}